<div class="table">
    <table id="clientsTable" class="table table-condensed table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>CNP</th>
        </tr>
        <tr ng-repeat="c in clients" ng-click="showClient(c); getAccounts(c.cnp)">
            <td>{{ c.name }}</td>
            <td>{{ c.cnp }}</td>
        </tr>
    </table>

    <div class="formArea">
        <form name="form" class="formBody">
            <div class="inputFields">
                <label for="nameClient">Name:</label>
                <input id="nameClient" type="text" required ng-model="selectedClient.name"/><br/>
                <label for="cnpClient">CNP:</label>
                <input pattern=".{13,13}" title="CNP must contain 13 numeric characters" id="cnpClient" type="text" name="cnpClient" required ng-model="selectedClient.cnp"/><br/>
                <span ng-show="form.cnpClient.$dirty && form.cnpClient.$error.pattern" class="help-block">CNP must contain 13 numeric characters</span>
                <label for="birthDate">Birthdate:</label>
                <input id="birthDate" type="date" ng-model="selectedClient.birthDate"/><br/>
                <label for="addressClient">Address:</label>
                <input id="addressClient" type="text" required ng-model="selectedClient.address"/><br/>
            </div>
            <input type="submit" ng-click="clearForm()" value="Clear"/>
            <input ng-disabled="form.$invalid" type="submit" ng-click="insertClient()" value="Create"/>
            <input type="submit" ng-click="updateClient()" value="Update"/>
            <input type="submit" ng-hide="true" ng-click="deleteClient()" value="Delete"/>
        </form>
    </div>

    <table id="accountsTable" class="table table-condensed table-bordered table-striped" ng-hide="!consults.length">
        <tr>
            <th style="width: 10%;">ID</th>
            <th>Date</th>
            <th>Doctor</th>
            <th>Status</th>
        </tr>
        <tr ng-repeat="a in consults" ng-click="showConsult(a)">
            <td>{{ a.consultID }}</td>
            <td>{{ convertToDate(a.since) }}</td>
            <td>{{ a.doctorName }}</td>
            <td>{{ a.status }}</td>
        </tr>
    </table>

    <div class="formAreaAccount">
        <form name="formAccount" class="formBody">
            <div class="inputFields">
                <label for="patient">Patient CNP:</label>
                <input id="patient" type="text" required ng-model="selectedConsult.cnp"/><br/>
                <label for="consultSince">Since:</label>
                <input id="consultSince" type="datetime-local" required ng-model="selectedConsult.since" ng-change="getAvailableDoctors(selectedConsult.since.getTime())"/><br/>
                <label for="consultTill">Till:</label>
                <input id="consultTill" type="datetime-local" required ng-model="selectedConsult.till"/><br/>
                <label for="doctor">Doctor:</label>
                <select name="doctor" id="doctor" required ng-model="selectedDoctorID" ng-options="d.doctorName for d in doctors">
                </select><br/>
            </div>
            <input type="submit" ng-click="clearConsult()" value="Clear"/>
            <input type="submit" ng-click="insertAccount()" value="Create"/>
            <input type="submit" ng-disabled="selectedConsult.status==='closed'" ng-click="checkIn()" value="Check-In"/>
            <input type="submit" ng-disabled="selectedConsult.status!=='ongoing'" ng-click="checkOut()" value="Check-Out"/>
        </form>
    </div>
    <button type="button" class="logoutButton" ng-click="logout()">&larr;</button>
</div>